.TodoForm {
  @include flexbox(column, flex-start, center);
  padding: 20px 40px;

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  .Button {
    width: 100%;
  }

  @media($S) {
    @include flexbox(row, space-between);
    flex-grow: 2;

    input {
      width: 65%;
      margin-bottom: 0;
    }

    .Button {
      width: auto;
    }
  }
}