<!DOCTYPE html>
<html>
  <head>
    <title>CkTodoApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': true %>
    <%= javascript_pack_tag('application', 'data-turbolinks-track': true) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
